extends __template


block headContent
	link(rel="stylesheet" href="/css/main--show.css")
	title Schedules


block bodyContent
	div#Tips-toolTip Monday | 10:00am — 1:00pm
	div.control__wrapper(style="margin:auto;text-align:center;max-width:1200px;width:100%;margin-top: 30px;")
		div(style="width:65%;text-Aalign:center;margin:auto;display:inline-block;margin-top: 30px;")
			
			div.slider__container(style="display:inline-block;float:left;").no_s
				label.slider__label.slider__label--left.no_s MORNINGS
				div.slider__wrap
					div.slider__line.slider__line--range
					div.slider__blob(data-slideType="avgTime")
				label.slider__label.slider__label--right.no_s EVENINGS
			div#break__button Add Breaks
		div(style="width:65%;text-align:center;margin:auto;display:inline-block;margin-top: 10px;")
	div#schedule__scrollWrap
	
	
	
	
	
	
	
	//Make sure this isn't rendered
	div#templates
		//The template for the course info on the side of schedules
		div.schedule__infoLine
			div(style="width: 100%;")
				span.schedule__infoCourse.schedule__infoBlock ENGL105 AB2
				span.schedule__infoBlock.schedule__infoBlock--right 1 Open
			br
			div(style="width: 100%;")
				span.schedule__infoName.schedule__infoBlock.schedule__infoBlock--left Alex Wetmore
				span.schedule__infoRating.schedule__infoBlock.schedule__infoBlock--right 3.2
			
		//Template for the entire schedule thing
		div.schedule__wrapper
			div.schedule__info
				br
				div.schedule__ratingWrap
					span.schedule__ratingLabel Avg Rating
					span.schedule__avgRating 5.29
				br
			div.schedule__container
				div.schedule__dayWrap
					each time, index in ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
						div.schedule__dayLabel=time
				div.schedule__timeWrap
					each time, index in ['8:00 am','9:00 am','10:00 am','11:00 am','12:00 pm','1:00 pm','2:00 pm','3:00 pm','4:00 pm','5:00 pm','6:00 pm','7:00 pm','8:00 pm','9:00 pm','10:00 pm']
						div.schedule__timeLabel(style="top:"+((index*30)-1)+'px')
							div.schedule__s__name=time
				div.schedule__blockContainer

		//Template for the mobile schedule
		div.schedule__wrapper.schedule__wrapper--m
			div.schedule__info.schedule__info--m
				br
				div.schedule__ratingWrap
					span.schedule__ratingLabel Avg Rating
					span.schedule__avgRating 5.29
				br
			br
			div.schedule__container.schedule__container--m
				div.schedule__dayWrap
					each time, index in ['Su','Mo','Tu','We','Th','Fr','Sa']
						div.schedule__dayLabel=time
				div.schedule__timeWrap
					each time, index in ['8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00']
						div.schedule__timeLabel(style="top:"+((index*30)-1)+'px')
							div.schedule__s__name=time
				div.schedule__blockContainer.schedule__blockContainer--m

		//Template in case there isn't anything to render		
		div.none__big(style="margin-top: 50px;")
			div(style="font-size: 50px;font-weight: 400;color: #999;font-family: Open Sans;") Uh Oh! :(
			div(style="font-size: 20px;font-weight: 400;color: #999;font-family: Open Sans;") There aren't any courses!
			div(style="font-size: 12px;font-weight: 400;color: #999;font-family: Open Sans;") Try using a different combination of courses or less filters
			br
			img(src="/img/schedular-snapcode.png" height="100px" style="margin-top: 30px;")
			div(style="font-size: 12px;font-weight: 400;color: #999;font-family: Open Sans;margin-top: 20px;")  If all else fails, you can always snapchat us at: schedularteam

		//Template for the break container, this thing is actually displayed so yea..
		div.break__container
			table.break__table
				tr
					td.break__box.no_s
					td.break__box.break__box--topLabel.no_s Su
					td.break__box.break__box--topLabel.no_s Mo
					td.break__box.break__box--topLabel.no_s Tu
					td.break__box.break__box--topLabel.no_s We
					td.break__box.break__box--topLabel.no_s Th
					td.break__box.break__box--topLabel.no_s Fr
					td.break__box.break__box--topLabel.no_s Sa

				each time, index in ['8 am','9 am','10 am','11 am','12 pm','1 pm','2 pm','3 pm','4 pm','5 pm','6 pm','7 pm','8 pm','9 pm','10 pm']
					tr
						td.break__box.break__box--leftLabel.no_s=time
						td.break__box.break__box--click.no_s(data-col="0" data-row=index)
						td.break__box.break__box--click.no_s(data-col="1" data-row=index)
						td.break__box.break__box--click.no_s(data-col="2" data-row=index)
						td.break__box.break__box--click.no_s(data-col="3" data-row=index)
						td.break__box.break__box--click.no_s(data-col="4" data-row=index)
						td.break__box.break__box--click.no_s(data-col="5" data-row=index)
						td.break__box.break__box--click.no_s(data-col="6" data-row=index)




				
	script(src="/js/show/UTIL.js")
	script(src="/js/show/main.controller.js")
	script(src="/js/show/main.model.js")
	script(src="/js/show/main.view.js")
	script(src="/js/show/main.js")